@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.navbar {
  background-color: #333;
  color: white;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo h1 {
  font-size: 1.5rem;
}

.nav-links {
  list-style-type: none;
}

.nav-links li {
  margin-bottom: 1rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  margin: 10px;
  padding: 10px;
  font-weight: 500;
}

.nav-links a:hover {
  background-color: #fff;
  color: #333;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 20px;
}

.burger {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.burger span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
  transition: all 0.3s ease;
}

/* Hero Section Styles */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f5f5f5;
  padding: 80px 40px;
}

.hero-content {
  flex-basis: 50%;
  padding-right: 40px;
}

.name {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 10px;
}

.profession {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 20px;
}

.tagline {
  font-size: 20px;
  color: #555;
  margin-bottom: 30px;
}

.cta-buttons {
  display: flex;
  gap: 20px;
}

.btn {
  display: inline-block;
  padding: 12px 24px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s ease;
}

.cta-buttons .btn-primary {
  background-color: #333;
  color: #fff;
  margin-right: 20px;
  border: 2px solid #fff;
}

.cta-buttons .btn-primary:hover {
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
}

.cta-buttons .btn-secondary {
  background-color: #f5f5f5;
  color: #333;
  border: 2px solid #333;
}

.cta-buttons .btn-secondary:hover {
  background-color: #333;
  color: #fff;
}

.hero-image {
  flex-basis: 50%;
}

.hero-image img {
  max-width: 100%;
  height: auto;
  border-radius: 18px;
}

/* About me Section Styles */
.about-me {
  background-color: #282c34;
  color: white;
  padding: 50px 20px;
  font-family: Arial, sans-serif;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.profile-image-container {
  position: relative;
  width: 45%;
}

.border {
  position: absolute;
  bottom: -20px;
  left: -20px;
  width: 100%;
  height: 100%;
  background-color: #26747d;
  z-index: 1;
}

.profile-image {
  position: relative;
  width: 100%;
  z-index: 2;
}

.about-text {
  width: 50%;
}

.about-text h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.about-text p {
  margin-bottom: 30px;
  line-height: 1.6;
}

/* Projects Section Styles */
.recent-projects {
  background-color: #282c34;
  color: white;
  padding: 50px 20px;
  font-family: Arial, sans-serif;
}

.section-title {
  font-size: 36px;
  margin-bottom: 10px;
  text-align: center;
}

.line {
  height: 2px;
  width: 100px;
  background-color: #26747d;
  margin: 0 auto 30px;
}

.slider-container {
  overflow: hidden;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  /* flex: 0 0 100%; */
  padding: 0 15px;
  box-sizing: border-box;
}

.slide img {
  width: 80vh;
  height: 50vh;
  margin-bottom: 10px;
}

.slide h4 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 5px;
}

.slide p {
  color: #26747d;
  font-size: 24px;
  font-weight: 600;
}

.slider-nav {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.slider-nav button {
  background-color: #26747d;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 0 10px;
  cursor: pointer;
  font-size: 18px;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
    padding-top: 1rem;
  }

  .nav-links.active {
    display: flex;
  }

  .burger {
    display: block;
  }

  .hero {
    flex-direction: column;
    padding: 60px 20px;
  }

  .hero-content {
    flex-basis: auto;
    padding-right: 0;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 60px;
  }

  .hero-image {
    flex-basis: auto;
  }
  .about-content {
    flex-direction: column;
  }

  .profile-image-container,
  .about-text {
    width: 100%;
  }

  .profile-image-container {
    margin-bottom: 30px;
  }

  .section-title {
    font-size: 28px;
  }

  .slider-container {
    max-width: 100%;
  }
}

@media screen and (min-width: 769px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
  }

  .nav-links {
    display: flex;
  }

  .nav-links li {
    margin-left: 2rem;
    margin-bottom: 0;
  }
}

main {
  padding: 2rem;
}
